*
{
    font-family: "Barlow-light";
}

.box
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50%;
    width: 100%;
}

.box form
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.box h2
{
    color: black;
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.box input
{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    font-size: 20px;
}

.box input[type="text"]
{
    background: #fff;
    width: 340px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
}

.box select
{
    position: relative;
    border: none;
    left: -3px;
    outline: none;
    background: #fff;
    font-size: 18px;
    padding: 14px 16px 12.5px;
    margin: -2px;
    border-right: 15px solid #fff;
}

.box input[type="submit"]
{
    position: relative;
    left: -5px;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #1f62a6;
    color: #fff;
}

.box input[type="submit"]:hover
{
    background: #134e8a;
}

@media (max-width: 768px){

.box
{
    width: 100%;
    text-align: center;
}

.box form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}

.box input[type="text"]
{
    width: 200px;
    padding: 0;
}

.box select
{
    padding-left: 0;
    padding-right: 0;
}
.box input[type="submit"]
{
    margin-top: 10px;
}

}