.compress-form{
    width: 100%;
    display: flex;
    justify-content: center;
}

.text-nama{
    height: 10px;
    padding-top: 20px;
}

.text-NIM{
    
}

.oprec{
    text-align: center;
    height: 90%;
    background-image: url("../images/landing-bg.png");
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.oprec h3{
    text-transform: uppercase;
    font-family: "Avenir-bold";
    letter-spacing: 2px;
    margin: 5px 0 20px 0;
}

.oprec h2{
    text-transform: uppercase;
    font-family: "Avenir-bold";
    font-size: 50px;
    letter-spacing: 2px;
    margin-bottom: -5px;
    text-shadow: 0px 5px 3px rgba(0,0,0,0.0);
}

.oprec h1{
    font-family: "Avenir-bold";
    font-size: 25px;
    letter-spacing: 2px;
    margin-bottom: 30px;

}

.compress-form input{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    font-size: 20px;
    margin: 0 10px 0 10px;
}

.compress-form input[type="text"]{
    font-family: "Avenir-light";
    background: #fff;
    width: 340px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    transition: 0.2s;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.compress-form input[type="text"]:focus{
    border: 1px solid white;
    box-shadow: 0px 0px 2px #fff,0px 0px 5px #333452;  
    border-radius: 10px;
}

.compress-btn{
    -webkit-appearance: none;
    font-family: "Barlow-bold";
    text-transform: uppercase;
    position: relative;
    left: -5px;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background: brown;
    color: #f3eb9b;
    transition: 0.4s;
    border-radius: 10px;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.compress-btn:hover{
    background: rgb(119, 29, 29);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

@media (max-width: 700px){
    .oprec h2{
        font-size: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .compress-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5px;
        width: 100%;
    }

    .compress-form input[type="text"]{
        max-width: 300px;
        text-align: center;
        padding: 0;
    }

    .compress-btn{
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border-top-right-radius: 3px;
        border-bottom-left-radius: 3px;
        margin-top: 10px;
    }
}