@font-face {
    font-family: "Barlow-light";
    src: url("../fonts/Barlow/Barlow-Light.ttf") format("truetype");
}
@font-face{
    font-family: "Barlow-bold";
    src: url("../fonts/Barlow/Barlow-Bold.ttf") format("truetype");
}
@font-face{
    font-family: "Anastik";
    src: url("../fonts/Anastik/Anastik.ttf") format("truetype");
}
@font-face{
    font-family: "Avenir-light";
    src: url("../fonts/Avenir/AvenirLTProLight.otf") format("opentype");
}
@font-face{
    font-family: "Avenir-bold";
    src: url("../fonts/Avenir/AvenirLTProBlack.otf") format("opentype");
}
@font-face {
    font-family: "Avenir-medium";
    src: url("../fonts/Avenir/AvenirLTProLightOblique.otf") format("truetype");
}

*{
    font-family: 'Avenir-light';
    font-weight: 500;
}

.text-red{
    color: brown;
}

::-webkit-scrollbar {
    background-color: #333452;
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    margin: 10px 0 10px 0;
    background: #333452; 
}

::-webkit-scrollbar-thumb {
    background: #f3eb9b; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #645f40; 
}

html{
    padding: 0;
    margin: 0;
    width: 100%;
}

body{
    margin:0;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-right: 0;
    margin-right: 0;
    padding-left: 4em;
    margin-left: 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    z-index: 100;
}

.footer{
    align-items: center;
    bottom: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    background-color: #333452;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
}

.copyright{
    font-family: "Avenir-light";
    font-size: 20px;
}

.sub-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar a{
    font-family: "Avenir-light";
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 0.2em 1.5em 0.2em 1.5em;
}

.container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items:center;
    height: 88%;
    margin: 0;
    padding: 0;
    top: 150;
    color:#333452;
    flex-direction: column;
}

.container-bg{
    background-image: url("../images/landing-bg.png");
    position: fixed;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0 0 2em 0;
    height: auto;
}

.title{
    font-family: "Avenir-bold";
    z-index: -1;
    text-align: center;
    position: fixed;
    font-size: 70px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.sub-title{
    font-family: "Anastik";
    font-size: 75px;
}

.instruction-title{
    font-family: "Barlow-bold";
    color: #f3eb9b;
    padding-top: 1vh;
    font-size: 2vw;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.instruction-title img{
    width: 2vw;
    margin-top: 2vh;
}

.compress-section{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #645f40;
}

.compress-section b{
    width: 300px;
    padding: 1px;
    margin: 0 2em 0 2em;
}

#section1 b{
    background-color: #f3eb9b;
}

#section2 b{
    background-color: #333452;
}

#section1 h2{
    font-family: "Avenir-light";
    color: #f3eb9b;
}

#section2 h2{
    font-family: "Avenir-light";
    color: #333452;
}

.compress-section h2{
    font-family: "Barlow-bold";
    text-align: center;
}

#section1{
    background-color: #333452;
}

#section2{
    background-image: url("../images/landing-bg.png");
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.compress-vid{
    width: 560px;
    height: 315px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px #fff,0px 0px 5px #333452;  
}

.compress-card{
    color: #f3eb9b;
    background-color: #333452;
    text-transform: uppercase;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.compress-card h3{
    font-family: "Avenir-bold";
}

.compress-card h5{
    font-family: "Avenir-light";
    font-weight: 900;
}

.compress-card p{
    font-family: "Avenir-light";
}

@media (max-width: 700px){
    .navbar{
        width: 100%;
        justify-content: center;
        padding: 1em 0 1em 0;
    }

    .container{
        height: 92%;
    }

    .sub-bar{
        display: none;
    }

    .compress-section b{
        margin: 0 0.7em 0 0.7em;
    }

    #section1 b{
        width: 70px;
    }

    #section2 b{
        width: 100px;
    }

    .compress-section h2{
        text-align: center;
        font-size: 20px;
    }

    .title{
        margin-left: 10px;
        margin-right: 10px;
        font-size: 40px;
    }

    .sub-title{
        font-size: 40px;
    }

    .instruction-title{
        font-size: 5vw;
    }

    .instruction-title img{
        margin-top: 0;
        padding-top: 5px;
        width: 5vw;
    }
    
    .compress-vid{
        width: 100%;
        height: 56.25vw;
        box-shadow: 0 0 10px 5px grey;
        border-radius: 0;
    }
}

@media (width: 768px){
    .container{
        height: 90%;
    }

    .compress-section b{
        width: 200px;
        margin: 0 1em 0 1em;
    }

    .instruction-title{
        font-size: 5vw;
    }

    .instruction-title img{
        margin-top: 0;
        padding-top: 10px;
        width: 5vw;
    }
}